@font-face {
    font-family: "Panton Black Caps";
    /* src: url("http://ff.cdn.1001fonts.net/p/a/panton.black-caps.otf") */
    src: url("panton.black-caps.otf");
}

@font-face {
    font-family: "Panton Light Caps";
    src: url("panton.light-caps.otf");
}

.main h1 {
    color: #652e8e;
    font-family: "Panton Black Caps";
    margin-top: 30px;
    margin-bottom: 30px;
}

.main h2 {
    font-family: "Panton Light Caps";
    font-size: 2rem;
    color: #652e8e;
    margin-bottom: 20px;
}

.main p {
    font-size: 1.7rem;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.navbar.navbar-default {
    background: -webkit-linear-gradient(left, #4f4173, #957da6);
    /* Chrome10+, Safari5.1+ */
    background: linear-gradient(left, #4f4173, #957da6);
    border: None;
}

.navbar.navbar-default .navbar-nav>li>a,
.navbar.navbar-default .navbar-text {
    color: #E8E8E8;
}

.navbar.navbar-default .navbar-nav>li>a:hover,
.navbar.navbar-default .navbar-nav>li>a:focus {
    background-color: #00a3b0;
}

.navbar.navbar-default .navbar-nav>.open>a,
.navbar.navbar-default .navbar-nav>.open>a:hover,
.navbar.navbar-default .navbar-nav>.open>a:focus {
    background-color: #00a3b0;
}

#login-main .auth-form-header {
    background: #32C574 !important;
}

.btn-jupyter {
    color: #fff;
    background-color: #32C574 !important;
    border-color: #32C574 !important;
}

#login-main .service-login {
    vertical-align: top !important;
    padding-top: 60px;
}